# any csv with binarized in the name
*binarized*.csv

# but allow this specific dataset for demo purposes
!bike_binarized.csv
!examples/compas_binarized.csv

Ignore/

cached_files/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.manifest
*.spec

venv/
env/
.venv/
.env/

.ipynb_checkpoints/

*.log
*.out
*.tmp
*.bak

.DS_Store
Thumbs.db

.vscode/

*.sh
*.err
*.out
/run_one_output_test/
/slurm_jobs/

plotting.ipynb

!/src/
!/examples/
!/tests/

__pycache__/
AllEnsemble/
ApproxBootstrapLicketyVSGroundTruth/
ApproximationHistogram/
ApproxLicketyVSGroundTruth/
bootstrap_slack_individual_results/
bootstrap_slurm_jobs/
bootstrap_timing/
bootstraps/
cache_grid_jobs/
cache_grid_out/
cached_files/
Datasets/
DeepGreedyGeometricOutputs/
dist/
Ensemble/
Final/
geo_jobs/
geo_out/
GeometricOutputs/
GreedyGeometricOutputs/
Ignore/
IgnoreNotUploaded/
LicketyAccurateOUTPUT/
LicketyCPPOutput/
LicketyCPPOutput_lk2/
LicketyCPPOutput_lk3/
MaybeUseful/
Maybe Useful
MultipassAblation/
MultipassAblationNew/
other_bootstraps/
Outputs/
OutputsThroughput/
OutputsThroughput copy/
ResplitAccurateOUTPUT/
ResplitOUTPUT/
run_one_output_test/
SlackOracleComparison/
slurm_jobs/
SortedOUTPUT/
TreefarmsOUTPUT/
WorkshopCheck/
WorkshopData/
